#nobel-map {
  background: azure;
  width: 800px;
  height: 400px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: lightgray;
}

.country {
  fill: rgb(175, 195, 186); /* light green */
}

.country.active {
  fill: rgb(155, 175, 166); /* dark green */
}

.country-border {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.centroid {
  fill: red;
  fill-opacity: 0.3;
  pointer-events: none; /* Allow mouse events to propagate to country shapes */
}

#map-tooltip {
  position: absolute;
  pointer-events: none; /* Lets you click on things underneath the tooltip */
  color: #eee;
  font-size: 12px;
  opacity: 0.7;
  background: #222;
  border: 2px solid #555;
  border-color: goldenrod;
  padding: 10px;
  left: -999px; /* Initially, the tooltip must be hidden */
  width: 100px;
  height: 100px;
}
