#nobel-menu {
  font-size: 14px;
}

#nobel-menu div {
  display: inline-block;
}

#gender-select {
  margin-left: 20px;
}

#country-select {
  margin: 0 20px;
}

#metric-radio {
  left: 500px;
}

#metric-radio form {
  display: inline;
}

#nobel-menu option {
  font-size: 12px;
}