body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fefefe;
  width: 1000px;
  margin: 0 auto;
}

a:link {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#web-gui {
  position: absolute;
  top: 90px;
  width: 100%;
}
